:root {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    " . header . "
    " . gameArea . ";
}

.cell {
  background-color: aqua;
}

.header {
  grid-area: header;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.gameArea {
  grid-area: gameArea;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "playerX . playerO"
    ". gameboard ."
    ". . .";
}

.playerX {
  grid-area: playerX;
}

.playerO {
  grid-area: playerO;
}

.playerX,
.playerO {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  grid-area: gameboard;
}
